<template>
  <widget>
    <div slot="title">
      {{ title }}
    </div>
    <div slot="content">
      <div v-for="(item, index) in items" v-show="items !== null">
        <div class="forum_comments_widget_item">
          <div class="forum_comments_widget_item__title">
            <a :href="'/forum/topic/' + item.forums[0].id + '#comment-' + item.id">{{ cutText(item.text) }}</a>
          </div>
          <div class="forum_comments_widget_item__info">
            от <i class="fa fa-user"></i>
            <span v-if="item.user_id === null">{{ item.user_name }}</span>
            <span v-else>
              <a :href="'/forum/user/' + item.user.username">{{ item.user.username }}</a>
            </span>
            в теме: <a :href="'/forum/topic/' + item.forums[0].id">{{ item.forums[0].title }}</a>
          </div>
        </div>
      </div>
      <div v-show="items === null">
        Новых ответов нет.
      </div>
    </div>
  </widget>
</template>

<script>
import Widget from "../../widgets/Widget";

export default {
  name: 'Comments',
  data() {
    return {
      items: null
    }
  },
  components: {
    Widget
  },
  props: {
    title: {
      required: true,
      type: String,
    },
    list: {
      required: true,
      type: String,
    },
  },
  methods: {
    cutText: (text) => {
      if (text.length >= 80) {
        return text.substr(0, 80) + '...';
      }

      return text;
    },
  },
  mounted() {
    if (this.list !== '[]') {
      this.items = JSON.parse(this.list);
    }
  }
}
</script>

<style scoped lang="scss">
  @import "resources/scss/colors";

  .forum_comments_widget_item {
    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;

    &__title {
      overflow-wrap: anywhere;

      a {
        color: #000;
        text-decoration: underline;
      }
    }

    &__info {
      font-size: 11px;
      color: #818189;

      a {
        color: $base-dark-color;
      }
    }
  }
</style>
