<template>
  <widget>
    <div slot="title">
      {{ title }}
    </div>
    <div slot="content">
      <div v-for="(item, index) in items" v-show="items !== null">
        <div class="forum_topics_widget_item">
          <div class="forum_topics_widget_item__title">
            <a :href="'/forum/topic/' + item.id">{{ item.title }}</a>
          </div>
          <div class="forum_topics_widget_item__info">
            в разделе <i class="fa fa-folder"></i> <a :href="'/forum/topics/' + item.category.slug">{{ item.category.name }}</a>
            от <i class="fa fa-user"></i> <a :href="'/forum/user/' + item.user.username">{{ item.user.username }}</a>
            <i class="fa fa-comments"></i> ответов: {{ item.commentsCount }}
          </div>
        </div>
      </div>
      <div class="forum_topics_widget_more" v-show="items !== null">
          <span v-show="filter === undefined || filter === 'new'">
            <a href="/forum/topics/new">Все новые темы →</a>
          </span>
        <span v-show="filter === 'hits'">
            <a href="/forum/topics/new/hits">Все популярные темы →</a>
          </span>
      </div>
      <div v-show="items === null">
        Темы не найдены.
      </div>
    </div>
  </widget>
</template>

<script>
import Widget from "../../widgets/Widget";

export default {
  name: 'Topics',
  data() {
    return {
      items: null
    }
  },
  components: {
    Widget
  },
  props: {
    title: {
      required: true,
      type: String,
    },
    list: {
      required: true,
      type: String,
    },
    filter: {
      required: false,
      type: String,
    },
  },
  mounted() {
    if (this.list !== '[]') {
      this.items = JSON.parse(this.list);
    }
  }
}
</script>

<style scoped lang="scss">
  @import "resources/scss/colors";

  .forum_topics_widget_item {
    display: flex;
    flex-direction: column;
    padding-bottom: 2px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;

    &__title {
      color: #000;

      a {
        color: #000;
        text-decoration: underline;

        &:hover {
          color: $base-dark-color;
        }
      }
    }

    &__info {
      font-size: 11px;
      color: #818189;

      a {
        color: $base-dark-color;
      }

      .fa {
        padding: 0 4px 0 3px;
      }
    }
  }

  .forum_topics_widget_more {
    a {
      color: $base-dark-color;
    }
  }
</style>
