<template>
  <div class="forum_topic" v-if="topic !== null">
    <div class="forum_topic__item">
      <div class="forum_topic_item__title">
        <h1>{{ title }}</h1>
      </div>
      <div class="forum_topic_item__edit" v-show="topic.edit.canEdit">
        <i class="fa fa-edit"></i> <a :href="topic.edit.link">{{ topic.edit.text }}</a>
      </div>
      <div class="forum_topic_item__content">
        <slot name="content"></slot>
      </div>
      <share :title='topic.shareTitle'></share>
    </div>

    <div class="forum_topic__footer">
      <i class="fa fa-clock-o"></i> {{ topic.createdAt }}
      <template v-if="topic.user.link">
        <i class="fa fa-user"></i> <a :href="topic.user.link">{{ topic.user.name }}</a>
      </template>
      <template v-else>
        <i class="fa fa-user"></i> {{ topic.user.name }}
      </template>
      <i class="fa fa-folder"></i> <a :href="topic.category.link">{{ topic.category.name }}</a>
    </div>

    <slot name="comments"></slot>
  </div>
</template>

<script>
import Share from "../../blocks/Share";
export default {
  name: 'Item',
  data() {
    return {
      topic: null,
      content: '',
      comments: ''
    }
  },
  components: {
    Share
  },
  props: {
    title: {
      required: true,
      type: String,
    },
    data: {
      required: true,
      type: String,
    },
  },
  mounted() {
    if (this.data !== '[]') {
      this.topic = JSON.parse(this.data);
    }
  }
}
</script>

<style scoped lang="scss">
  @import "resources/scss/colors";

  .forum_topic {
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #DCD;

    &__footer {
      border-top: solid 1px #DDD;
      padding-top: 5px;
      font-size: 11px;
      color: #7B848D;
      margin-top: 10px;

      a {
        color: $base-dark-color;
      }

      .fa {
        margin: 0 5px 0 10px;
      }
    }
  }

  .forum_topic_item {
    &__edit {
      padding-bottom: 20px;

      a {
        color: $base-dark-color;
      }
    }
  }
</style>
