<template>
    <div>
      <div v-if="topic !== null">
        <div class="forum_topics_list__item">
          <div class="forum_topics_list_item__icon">
            <i class="fa fa-bolt" aria-hidden="true" v-if="topic.pinned"></i>
            <i class="fas fa-file" aria-hidden="true" v-else-if="topic.allow_comments"></i>
            <i class="fa fa-lock" aria-hidden="true" v-else></i>
          </div>
          <div class="forum_topics_list_item__name">
            <div class="forum_topics_list_item_name__title">
              <a :href="topic.url">{{ topic.title }}</a>
            </div>
            <div class="forum_topics_list_item_name__user">
              <span><i class="fa fa-clock-o"></i> {{ topic.createdAt }}</span>
              <template v-if="topic.user.link">
                <span><i class="fa fa-user"></i> <a :href="topic.user.link">{{ topic.user.name }}</a></span>
              </template>
              <template v-else>
                <span><i class="fa fa-user"></i> {{ topic.user.name }}</span>
              </template>
              <span><i class="fa fa-folder"></i> <a :href="topic.category.link">{{ topic.category.name }}</a></span>
            </div>
          </div>
          <div class="forum_topics_list_item__comments">
            <span><i class="fa fa-comments"></i> {{ topic.comments }}</span>
          </div>
          <div class="forum_topics_list_item__hits">
            <span><i class="fa fa-eye"></i> {{ topic.hits }}</span>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Items',
  data() {
    return {
      topic: null
    }
  },
  props: {
    data: {
      required: true,
      type: String,
    },
  },
  mounted() {
    if (this.data !== '[]') {
      this.topic = JSON.parse(this.data);
    }
  }
}
</script>

<style scoped lang="scss">
  @import "resources/scss/colors";

  .forum_topics_list__item {
    display: flex;
    border-bottom: 2px solid #e9e9e9;
    padding: 7px 0;

    &:hover {
      background: #e9e9e9;
    }
  }

  .forum_topics_list_item {
    &__icon {
      font-size: 24px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__name {
      flex-grow: 1;

      a {
        color: $base-dark-color;
      }
    }

    &__comments,
    &__hits {
      display: flex;
      flex-basis: 100px;
      align-items: center;
      justify-content: center;
      border-left: 2px solid #e9e9e9;

      .fa-comments,
      .fa-eye {
        padding-right: 5px;
      }
    }
  }

  .forum_topics_list_item_name {
    &__title {
      font-weight: bold;
    }

    &__user {
      font-size: 11px;

      span {
        padding-right: 7px;

        a {
          color: $base-dark-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .fa {
        margin-right: 5px;
      }
    }
  }
</style>
