<template>
  <div class="forum_topics">
    <div class="forum_topics__header">
      <h1><i class="fa fa-folder"></i> {{ title }}</h1>
      <buttons :data='buttons' v-if="buttons"></buttons>
      <material-sort :data='materialSort' :show="materialShow" v-if="materialSort"></material-sort>
    </div>
    <div class="forum_topics__list">
      <slot name="list-view"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'List',
  data() {
    return {
      listView: null
    }
  },
  props: {
    title: {
      required: true,
      type: String,
    },
    buttons: {
      type: String,
      default: ''
    },
    materialSort: {
      type: String,
      default: ''
    },
    materialShow: {
      type: String,
      default: 'false'
    },
  },
}
</script>

<style scoped lang="scss">
  .forum_topics {
    &__header {
      color: #fff;
      text-align: center;

      h1 {
        padding-bottom: 15px;
      }
    }

    &__list {
      margin-top: 20px;
      background: #FFF;
      padding: 20px;
      border-radius: 10px;
      border: solid 1px #DCDCDC;
      margin-right: 15px;
    }
  }
</style>
