@import "colors";

html,
body {
  height: 100%;
  background: $base-bg-color;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.56;
  font-size: 16px;
}

.hljs {
  background: none !important;
}

pre {
  background: none;
  border: none;
  font-size: 14px;
}

/* Posts */

.content_footer {
  border-top: solid 1px #DDD;
  padding-top: 5px;
  font-size: 12px;
  color: #7B848D;
}

.content_footer .fa {
  margin: 0 5px 0 10px;
}

.content_header {
  margin-bottom: 10px;
  font-size: 12px;
  color: #7B848D;
}

.content_header .fa {
  margin-right: 5px;
}

.post-view {
  background: #FFF;
  padding: 0 20px 10px 20px;
  border-radius: 10px;
  border: solid 1px #fff;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.56;
  margin-bottom: 20px;
}

.post-header {
  color: #fff;
}

.post-view h1 a,
.post-view h2 a,
.post-view h3 a,
.post-view h4 a {
  text-decoration: none;
}

.post-view a {
  color: $base-medium-color;
}

.post-view h1 {
  color: $base-medium-color;
  border-bottom: 1px solid $base-medium-color;
  padding-bottom: 3px;
}

.post-view h2, .post-view h3, .post-view h4 {
  color: $base-medium-color;
  border-bottom: 1px dotted $base-medium-color;
  padding-bottom: 3px;
}

.post-view .index_title h3 {
  font-size: 24px;
  color: $base-medium-color;
  border-bottom: 1px solid $base-medium-color;
  padding-bottom: 3px;
}

.post-view .index_title h3 a {
  color: $base-medium-color;
  text-decoration: none;
}

.post-view .index_title h3 {
  font-size: 24px;
  color: $base-medium-color;
  border-bottom: 1px solid $base-medium-color;
  text-decoration: none;
  padding-bottom: 3px;
}

.post-view .index_title h3 a {
  color: $base-medium-color;
  text-decoration: none;
}

.post-view .index_title h3 a {
  color: $base-medium-color;
  text-decoration: none;
}

.post-view img {
  max-width: 100%;
}

.post-index .list-view {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.post-index [data-key] {
  flex-basis: 400px;
  flex-grow: 1;
  padding: 0 10px;
}

.text-primary {
  color: #4F5B93;
  border-bottom: none !important;
}

.not-set {
  color: #C55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #A94442;
  background: #FDF7F7;
  border-left: 3px solid #EED3D7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background: $base-dark-color;
  border: none;
}

.navbar-brand {
  text-decoration: none;
  padding: 0;
  margin-right: 25px;
}

.navbar-brand > img {
  height: 100%;
  padding: 10px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: $base-light-color;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: $base-light-color;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: $base-light-color;
}

/* Pagination */

.pagination {
  width: 100%;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background: $base-light-color;
  border-color: #ddd;
}

.pagination > li > a, .pagination > li > span {
  color: #8892BF;
}

.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

/* Comments */

.comment-body {
  background: #F5F5F5;
  border-radius: 5px;
  padding: 20px 20px 20px;
}

.comment.h-entry {
  clear: both;
  padding: 10px 0 0 115px;
}

/* Mobile devices */
@media screen and (max-width: 599px) {

  .post-view .index_title h3, .post-view .index_title h3 a {
    border: none;
  }

  .post-filter {
    padding-left: 0;
    text-align: center;
    flex-direction: column;
  }

  .post-filter li {
    margin: 5px !important;
  }

  .container > .navbar-header, .container-fluid > .navbar-header,
  .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    border-radius: 0;
  }

  .comment-user-photo {
    display: none;
  }

  .comment.h-entry {
    padding: 0;
    padding-bottom: 20px;
  }

  .premium__price {
    flex-direction: column;
  }

  .premium_price__month {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }

  .premium_price__year {
    margin-left: 0 !important;
  }

}

.comment-user-photo {
  float: left;
  padding: 5px;
  margin-left: -115px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

ul.comments .comment-arrow {
  border-bottom: 15px solid transparent;
  border-right: 15px solid #F4F4F4;
  border-top: 15px solid transparent;
  height: 0;
  left: -15px;
  position: absolute;
  top: 28px;
  width: 0;
}

.comment-permament-link {
  float: right;
}

.dt-published {
  color: #888;
  font-size: 0.8em;
}

.comment-username {
  border-bottom: 1px solid #DDD;
  margin: 5px 0;
  padding: 0 0 3px;
}

.comment-actions .fa {
  padding-left: 10px;
  padding-right: 4px;
}

.CodeMirror {
  border: 1px solid #DDD;
  padding: 20px;
  color: #333;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6471;
  vertical-align: baseline;
}

h3.comment-box__title {
  border-bottom: none;
}

.post-admin,
.post-create,
.post-update,
.comment-index,
.site-signup,
.site-login,
.site-request-password-reset,
.site-contact,
.category-create,
.category-update,
.category-admin,
.site-contact,
.user-index,
.user-update,
.user-view,
.site-search,
.site-error,
.ad-admin,
.forum-admin,
.forum-create,
.forum-update {
  background: #FFF;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  border: solid 1px #fff;
}

.user-view {
  padding: 0;
  padding-top: 20px;
}

.user-update {
  margin-top: 20px;
}

.breadcrumb {
  background: none;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}

.breadcrumb .active,
.breadcrumb a,
.breadcrumb a:hover {
  color: #fff;
}

.breadcrumb > li + li:before,
.breadcrumb .active::before {
  color: #fff;
}

.author_support {
  width: 120px;
  height: 60px;
  border: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.author_support_hint {
  display: none;
  color: #C55;
  font-style: italic;
  text-align: center;
}

.site-search {
  margin-top: 20px;
  background: #FFF;
  padding: 0 20px 10px 20px;
  border-radius: 10px;
  border: solid 1px #DCDCDC;
}

.captcha .form-control {
  height: auto;
  padding: 0;
  background-color: inherit;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.premium {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fafbff;
  border: 1px dashed #ebccd1;
}

.premium__header {
  color: $base-medium-color;
  font-size: 18px;
  font-weight: bold;
}

.premium__price {
  display: flex;
  justify-content: space-around;
}

.premium_price__month,
.premium_price__year {
  padding: 10px;
  background: #edeef0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 380px;
}

.premium_price__month {
  margin-right: 10px;
}

.premium_price__year {
  margin-left: 10px;
}

.premium_price__length {
  color: #666;
}

.premium_price__value {
  font-size: x-large;
  font-weight: bold;
}

.premium_price__button_box {
  padding-top: 15px;
}

.linksMenu {
  list-style: none;
  padding-left: 0;
}

.linksMenu li {
  background: no-repeat 0 50%;
}

.linksMenu a {
  padding-left: 30px;
  text-decoration: underline;
}

.is-breakable {
  word-break: break-word;
}

.subscribe {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

.comments a,
.comments a:hover {
  color: #909ac8;
}

h3.text-primary {
  text-decoration: none;
  color: #E13300;
}

/* Mobile devices */
@media screen and (max-width: 599px) {
  .widget {
    display: none;
  }
}
