<template>
  <div>
    <div v-for="(item, index) in items">
      <div v-if="adPosition === parseInt(item.slot) && adPosition === 1">
        <div class="slot_bottom">
          <p>Реклама:</p>
          <p>{{ item.description }}</p>
          <div v-if="item.code.length > 0">
            {{ item.code }}
          </div>
          <div v-else>
            <a :href="'/go/' + item.slug"
               :target="parseInt(item.target_blank) === 1 ? '_blank' : ''"
               :rel="parseInt(item.rel_nofollow) === 1 ? 'nofollow' : ''">
                <span v-if="item.banner_img.length > 0">
                  <img :src="item.banner_img" :alt="item.title" :title="item.title" class="slot_bottom_img">
                </span>
              <span v-else>
                  {{ item.title }}
                </span>
            </a>
          </div>
        </div>
      </div>
      <div v-if="adPosition === parseInt(item.slot) && adPosition === 2">
        <widget>
          <div slot="title">
            {{ title }}
          </div>
          <div slot="content">
            <p>{{ item.description }}</p>
            <div v-if="item.code.length > 0" v-html="item.code"></div>
            <div v-else>
              <a :href="'/go/' + item.slug"
                 :target="parseInt(item.target_blank) === 1 ? '_blank' : ''"
                 :rel="parseInt(item.rel_nofollow) === 1 ? 'nofollow' : ''">
                <span v-if="item.banner_img.length > 0" class="slot_img">
                  <img :src="item.banner_img" :alt="item.title" :title="item.title" class="slot_sidebar">
                </span>
                <span v-else>
                  {{ item.title }}
                </span>
              </a>
            </div>
          </div>
        </widget>
      </div>
    </div>
  </div>
</template>

<script>
import Widget from "./Widget";

export default {
  name: 'Ad',
  data() {
    return {
      items: null
    }
  },
  components: {
    Widget
  },
  props: {
    title: {
      required: true,
      type: String,
    },
    position: {
      required: true,
      type: String,
    },
    list: {
      required: true,
      type: String,
    },
  },
  computed: {
    adPosition: function () {
      return parseInt(this.position);
    },
  },
  mounted() {
    this.items = JSON.parse(this.list);
  }
}
</script>

<style scoped lang="scss">
  .slot_img {
    display: flex;
    justify-content: center;
  }

  .slot_sidebar,
  .slot_bottom_img {
    max-width: 100%;
  }

  .slot_bottom {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    border-top: solid 1px #DDD;
  }
</style>
