<template>
  <widget>
    <div slot="title">
      {{ title }}
    </div>
    <div slot="content" class="category-list">
      <div v-for="(item, index) in items" v-if="items !== null">
        <div class="category-list__item" v-if="item.posts.length > 0 && item.posts[0].materialCount > 0">
          <i class="fas fa-folder"></i>
          <a :href="'/category/' + item.slug">{{ item.name }}</a>
          <span>({{ item.posts[0].materialCount }})</span>
        </div>
      </div>
    </div>
  </widget>
</template>

<script>
import Widget from "./Widget";

export default {
  name: 'Categories',
  data() {
    return {
      items: null
    }
  },
  components: {
    Widget
  },
  props: {
    title: {
      required: true,
      type: String,
    },
    list: {
      required: true,
      type: String,
    },
  },
  mounted() {
    if (this.list !== '[]') {
      this.items = JSON.parse(this.list);
    }
  }
}
</script>

<style scoped lang="scss">
  @import "resources/scss/colors";

  .category-list {

    &__item {
      border-radius: 10px;

      a {
        color: $base-light-color;
      }

      .fas {
        padding-right: 7px;
      }

      span {
        color: #999;
      }
    }
  }
</style>
