<template>
  <widget>
    <div slot="title">
      {{ title }}
    </div>
    <div slot="content" class="social_buttons">
      <span v-for="(item, index) in items">
        <a :href="item.url" target="_blank" :title="item.title" rel="nofollow noopener">
          <div class="social_buttons__item" :style="{background: item.bgColor}">
            <i :class="item.faClass"></i>
          </div>
        </a>
      </span>
    </div>
  </widget>
</template>

<script>
import Widget from "./Widget";

export default {
  name: 'Social',
  data() {
    return {
      items: null
    }
  },
  components: {
    Widget
  },
  props: {
    title: {
      required: true,
      type: String,
    },
    list: {
      required: true,
      type: String,
    },
  },
  mounted() {
    this.items = JSON.parse(this.list);
  }
}
</script>

<style scoped lang="scss">
  .social_buttons {
    display: flex;
    flex-wrap: wrap;

    &__item {
      color: #fff;
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 42px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    &__item:hover {
      opacity: 0.8;
    }

    a {
      text-decoration: none;
    }
  }
</style>
