<template>
  <div class="widget">
    <div class="widget-title">
      <slot name="title"></slot>
    </div>
    <div class="widget-content">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Widget',
}
</script>

<style scoped lang="scss">
  @import "resources/scss/colors";

  .widget {
    margin-bottom: 20px;
    padding: 0 20px 15px 20px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 1px 1px 2px #aaa;

    a {
      color: $base-light-color;

      &:hover {
        color: $base-dark-color;
      }
    }

    & img {
      max-width: 100%;
    }
  }

  .widget-title {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    padding: 10px 0;
    border-bottom: solid 2px #fff;
    text-align: center;
    background: $base-light-color;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }
</style>
