<template>
  <div>
      <div class="forum_index">
        <div class="forum-index__header">
          <h1><i class="fas fa-comments"></i> {{ title }}</h1>
        </div>
        <buttons :data="buttons"></buttons>
        <div class="forum_index_list">
          <div v-for="(item, index) in items" v-if="items !== null">
            <div class="forum_index_list__item">
              <div class="forum_index_list_item__icon">
                <a :href="'/forum/topics/' + item.slug">
                  <i :class="item.icon ? item.icon : 'fas fa-folder'" aria-hidden="true"></i>
                </a>
              </div>
              <div class="forum_index_list_item__name">
                <a :href="'/forum/topics/' + item.slug"><h3>{{ item.name }}</h3></a>
                <p>{{ item.description }}</p>
              </div>
              <div class="forum_index_list_item__topics">
                {{ item.forums.length }}
              </div>
            </div>
          </div>
          <div v-show="items === null">
            {{ emptyText }}
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import Buttons from "../../blocks/Buttons";

export default {
  name: 'List',
  components: {
    Buttons
  },
  data() {
    return {
      items: null,
    }
  },
  props: {
    title: {
      required: true,
      type: String,
    },
    list: {
      required: true,
      type: String,
    },
    buttons: {
      required: true,
      type: String,
    },
    emptyText: {
      required: true,
      type: String,
    },
  },
  mounted() {
    if (this.list !== '[]') {
      this.items = JSON.parse(this.list);
    }
  }
}
</script>

<style scoped lang="scss">
  @import "resources/scss/colors";

  .forum-index {
    &__header {
      color: #fff;
      text-align: center;
      padding-bottom: 15px;
    }
  }

  .forum_index_list {
    margin-top: 20px;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
    margin-right: 15px;

    &__item {
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid #e9e9e9;

      &:hover {
        background: #e9e9e9;
      }
    }

    .forum_index_list_item {
      &__icon {
        font-size: 44px;
        align-self: center;
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 90px;

        a {
          color: $base-dark-color;
        }
      }

      &__name {
        flex-grow: 1;
        flex-shrink: 1;

        a {
          color: $base-dark-color;
        }
      }

      &__topics {
        align-self: center;
        text-align: center;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 90px;
      }
    }
  }
</style>
