<template>
  <div>
    <div v-if="items !== null" class="buttons">
      <a v-for="(item, index) in items" :href="item.url" :class="item.class">
        <i :class="item.icon"></i> {{ item.name }}
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Buttons',
  data() {
    return {
      items: null
    }
  },
  props: {
    data: {
      required: true,
      type: String,
    },
  },
  mounted() {
    if (this.data !== '[]') {
      this.items = JSON.parse(this.data);
    }
  }
}
</script>

<style scoped lang="scss">
  .buttons {
    display: flex;
    justify-content: center;

    a {
      margin: 0 5px;
    }
  }
</style>
