<template>
  <footer>
    <div class="container footer">
      &copy; {{ date }} {{ name }} |
      <span v-for="(link, index) in linksObj">
        <a :href="link.url" class="link">{{ link.name }}</a>
        <span v-if="index !== Object.keys(linksObj).length - 1"> | </span>
      </span>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'FooterBlock',
    data() {
      return {
        linksObj: null
      }
    },
    props: {
      date: {
        required: true,
        type: String,
      },
      name: {
        required: true,
        type: String,
      },
      links: {
        required: true,
        type: String,
      },
    },
    mounted() {
      this.linksObj = JSON.parse(this.links);
    }
  }
</script>

<style scoped lang="scss">
  .footer {
    text-align: center;
    color: #000;
    padding: 10px 0 20px 0;

    a {
      color: #000;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
</style>
