<template>
  <div>
    <ul class="filter" v-if="show && items !== null">
      <li v-for="(item, index) in items">
        <i :class="item.icon" class="filter__icon"></i> <a :href="item.url">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'MaterialSort',
  data() {
    return {
      items: null
    }
  },
  props: {
    data: {
      required: true,
      type: String,
    },
    show: {
      type: String,
      default: 'true'
    }
  },
  mounted() {
    if (this.data !== '[]') {
      this.items = JSON.parse(this.data);
    }
  }
}
</script>

<style scoped lang="scss">
@import "resources/scss/colors";

.filter {
  list-style: none;
  display: flex;
  justify-content: center;

  &__icon {
    margin-right: 10px;
  }

  li {
    padding: 5px 16px 5px 16px;
    border-radius: 2rem;
    margin: 15px 5px 0 5px;
    color: #fff;
    background: $base-dark-color;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

/* Mobile devices */
@media screen and (max-width: 599px) {
  .filter {
    padding-left: 0;
    text-align: center;
    flex-direction: column;

    li {
      margin: 5px !important;
    }
  }
}
</style>
