<template>
  <div class="share">
    <p>{{ title }}</p>
    <div
        class="ya-share2"
        data-curtain
        :data-size="size ? site : 'l'"
        :data-limit="limit ? limit : 5"
        :data-services="services ? services : 'telegram,vkontakte,twitter,facebook,odnoklassniki,whatsapp,evernote'"
    ></div>
  </div>
</template>

<script>
  export default {
    name: 'Share',
    props: {
      title: {
        required: true,
        type: String,
      },
      size: {
        type: String,
      },
      limit: {
        type: String,
      },
      services: {
        type: String,
      },
    },
    mounted() {
      let script = document.createElement('script');
      script.setAttribute('src', 'https://yastatic.net/share2/share.js');
      script.async = true;
      document.head.appendChild(script);
    },
  }
</script>

<style scoped lang="scss">
  .share {
    border-top: solid 1px #DDD;
    margin: 20px auto 10px;
    padding: 10px;
    text-align: center;
  }
</style>
